@use "../../styles/variable" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - $header-height);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 720px - 80px;
}

.list {
  max-height: calc((64px * 3) + 24px + 32px);
  overflow-x: auto;
}

.list_item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  margin-top: 16px;

  &:first-child {
    margin-top: 24px;
  }

  .img_container {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 100px;

    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: inherit;
      border: 2px solid transparent;
      background: #131316;
      background-clip: padding-box;
    }
  }

  div {

  }
}
