.flex {
  display: flex;
}

.inline {
  display: inline;
}

.h-screen {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.block {
  display: block;
}

.grow {
  flex-grow: 1;
}

.color-link {
  color: #4C4CFF;
}

.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
