@use "../../styles/variable" as *;

.reset_password {
  &__section {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: calc(100vh - $header-height);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
