.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    padding: 40px 40px 60px;

    background-color: #1C1C21;
    border: 1px solid #4C4CFF33;

    box-shadow: 0 24px 32px 0 #0000000A;
    border-radius: 40px;

    width: 720px;
    max-height: 720px;
    z-index: inherit;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 12px;
  }

  svg {
    cursor: pointer;
  }
}
