.header {
  padding-block: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &--link_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    &-end {
      @extend .header--link_wrapper;
      justify-content: flex-end;
    }
  }

  &--logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
